 .card-style {
    width: 18rem;
    height: 18rem;
    margin-right: auto;
    margin-left: auto;
 }

 .card-size {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
 }