body {
    height: 100%;
    background-size: 100vw 100vh;
    background-repeat: repeat-y;
    background-color: #F5EFE6;
}

.card-style {
  width: 100%;
  height: 3rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #E8DFCA;
}

.card-size {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
}

#section-title {
  overflow:hidden;
  resize: none;
}

#update-section-title {
  overflow:hidden;
  resize: none;
}

#where-am-i-div {
  font-size: 20px;
}

.padding-zero-overide {
  padding: 0;
}

.margin-buttonCard-override {
  margin: auto;
  margin-left: 4px;
  margin-right: 4px;
}

.header-title {
    font-size: 10vh;
}

.sign-text {
    font-size: 6vh;
}

.element-bg {
    background: #AEBDCA;
    margin: auto;
    padding: auto;
    width: auto;
    border-radius: 50%;
}

.element-2-bg {
    background: #7895B2;
    border-radius: 70%;
}

.txt-color {
    color: #E8DFCA;
}

.gap-fill {
    height: 100px;
}