.remove-left-right-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-buttonCard-override {
    margin: auto;
    margin-left: 4px;
    margin-right: 4px;
}

#add-post-title {
   resize: none;
}

#page-title {
    text-decoration: underline;
}

.post-layout {
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline;
}

.post-box {
    border: solid 4px;
    border-radius: 12px;
    padding: 1rem;
}