body {
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url("https://images.unsplash.com/photo-1496262967815-132206202600?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2723&q=80");
}

h1 {
    padding-top: 15vh;
    text-align: center;
}

#register-form {
    padding-top: 20vh;
}